<!DOCTYPE html>
<html>
<head>
  <title>Hackers Story</title>
  <!-- Bootstrap core CSS -->
  <%#*<link href="/assets/bootstrap.css" rel="stylesheet">%>
  <link href="/assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/navbar-fixed-top.css" rel="stylesheet">
  <link href="/assets/admin/dashboard.css" rel="stylesheet">
  
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="/assets/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <script src="/assets/jquery.js"></script>
  <script src="/assets/jquery_ujs.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
